/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Montserrat:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(185, 100%, 48%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(222, 100%, 2%);
  --radial-color: radial-gradient(
    52% 52% at 50% 50%,
    hsl(202, 90%, 38%) 0%,
    hsl(222, 100%, 6%) 100%
  );

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Jolly Lodger", cursive;
  --biggest-font-size: 3rem;
  --big-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 9rem;
    --big-font-size: 3.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--black-color);
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: var(--z-fixed);
  transition: background-color 0.3s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--white-color);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  transition: text-shadow 0.3s;
}

.nav__logo:hover {
  text-shadow: 0 2px 8px var(--first-color);
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--black-color);
    width: 100%;
    padding-block: 5rem 4.5rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
}

.nav__link {
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: text-shadow 0.3s;
}

.nav__link:hover {
  text-shadow: 0 2px 8px var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Change background header */

/*=============== HOME ===============*/
.home {
  position: relative;
  height: 100vh;
  background-color: var(--black-color);
}

.home__container {
  position: relative;
  height: 70%;
  background: var(--radial-color);
  display: grid;
  justify-items: center;
  overflow: hidden;
}

.home__container img {
  position: absolute;
}

.home__grass,
.home__pumpkin {
  bottom: 0;
}

.home__stone {
  bottom: -0.5rem;
  width: 470px;
}

.home__tree {
  bottom: 0.5rem;
  width: 470px;
}

.home__moon {
  bottom: 2rem;
  width: 590px;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */

/* For 2K resolutions (2048 x 1152) */
